rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /agent/{agentId} {
      allow read: if true;
      allow update: 
      	if request.auth != null && resource != null &&
					request.auth.token.email == resource.data.email;
    }
    // Só pode editar no backend
    match /user/{userId} {
      allow read: if true;
    }
    // Só pode editar no backend
    match /company/{companyId} {
      allow read: if true;
    }
    // Só pode editar no backend e ler se possuir o email referente ao banco no token
    match /bank/{bankId} {
      allow read: if request.auth != null && resource != null &&
					request.auth.token.email == resource.data.email;
    }
    // Só pode editar no backend
    match /askedPoint/{askedPointId} {
      allow read: if true;
    }
  }
}